# Node modules
node_modules
package-lock.json

# Adonis directory for storing tmp files
tmp

# Environment variables, never commit this file
.env

# The development sqlite file
database/*.sqlite

# All images inside
public/docs/

# All images inside
public/images/user_pictures/
public/images/post_pictures/
public/images/article_pictures/

# VSCode & PhpStorm history directories
.history
.idea
.DS_Store

# Used by Mobile App
.well-known
